rules_version='2'

service cloud.firestore {
  match /databases/{database}/documents {

    // Regras para Produtos e Depoimentos (Site Institucional)
    // Utilizamos uma função para evitar repetição de código (DRY - Don't Repeat Yourself)
    
    function isAutenticado() {
      return request.auth != null;
    }

    match /products/{produto} {
      allow read: if true; // Público
      allow write: if isAutenticado(); // Somente seu usuário logado
    }

    match /testimonials/{depoimento} {
      allow read: if true; // Público
      allow write: if isAutenticado(); // Somente seu usuário logado
    }
  }
}
