rules_version='2'

service cloud.firestore {
  match /databases/{database}/documents {

    match /products/{id} {
      allow read, write: if true; // ABERTO TOTAL - APENAS PARA TESTE
    }

    match /testimonials/{id} {
      allow read, write: if true; // ABERTO TOTAL - APENAS PARA TESTE
    }
  }
}
