/* Estilos gerais para o menu hambúrguer */
.hamburger-menu {
  display: block;
  cursor: pointer;
  position: relative;
  z-index: 1000;
}

.hamburger-menu.open {
  z-index: 1001; /* Garante que o menu hambúrguer esteja no topo quando aberto */
}

.hamburger-menu .bar {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #fff;
  margin: 6px auto;
  transition: all 0.3s ease-in-out;
}

/* Rotação dos ícones para o estado "aberto" */
.hamburger-menu.open .bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.hamburger-menu.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.open .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

/* Estilos para o menu de navegação lateral */
.nav-menu {
  display: none; /* Oculto por padrão */
  position: fixed;
  right: -300px; /* Começa fora da tela */
  width: 250px;
  flex-direction: column;
  align-items: flex-start; /* Alinha itens à esquerda */
  background-color: #395346;
  transition: right 0.3s ease-in-out;
  z-index: 999;
}

.nav-menu.open {
  display: flex;
  right: 0; /* Desliza para a tela */
}

.nav-item {
  color: #f9f6f1;
  padding: 0.5rem;
  font-size: 1.2rem;
  width: 100%;
  text-align: left; /* Alinha o texto dos itens à esquerda */
  font-family: "Crimson Pro", serif;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-item:hover {
  color: #f9f6f1;
  background-color: #4a6b57;
}
