.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 20px;
  background-color: #395346;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-image {
  width: 80px;
  height: auto;
  max-width: 110px;
}

.dashboard-nav {
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: white !important; /* Forçar a cor branca */
  font-weight: bold;
  font-size: 16px;
}

/* Media queries para o logo */
@media (min-width: 640px) {
  .logo-image {
    width: 90px;
  }
}

@media (min-width: 768px) {
  .logo-image {
    width: 100px;
  }
}

@media (min-width: 1024px) {
  .logo-image {
    width: 110px;
  }
}
