.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: 0.4s;
}

@media (max-width: 768px) {
    .dashboard-nav {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #395346;
    }

    .dashboard-nav.active {
        display: flex;
    }

    .hamburger-menu {
        display: flex;
    }
}
